@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%2300003a' fill-opacity='0.07'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  font-family: "Montserrat", sans-serif;
  color: #00003a;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: auto;
  max-width: 900px;
  padding: 1.75rem 2rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 3px 2px 1px rgba(0, 0, 0, 0.25);
  .quote-text {
    font-size: 2.5rem;

    .fa-quote-left {
      font-size: 3rem;
    }
  }

  .long-quote {
    font-size: 2rem;
  }

  .quote-author {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: italic;
  }

  .button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0.5rem 0;

    button {
      cursor: pointer;
      font-size: 1.25rem;
      padding: 0.5rem 0.85rem;
      border: none;
      border-radius: 0.5rem;
      color: #ffffff;
      background-color: #00003a;
      outline: none;
      box-shadow: 0 0.3rem rgba(#3f4661, 0.65);
      transition: all 0.15s ease-in-out;
      &:hover {
        filter: brightness(110%);
        color: #ffffff;
        background-color: #00003a;
      }
      &:active {
        transform: translate(0, 0.3rem);
        box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
      }
    }
    .btn-twitter {
      &:hover {
        color: #38a1f3;
      }
    }
  }
}

.loader {
  width: 2rem;
  height: 2rem;
  position: relative;
  border: 4px solid #00003a;
  border-radius: 0.5rem;
  top: 50%;
  animation: loader 1.5s infinite ease;
}

.loader-inner {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  background-color: #00003a;
  animation: loader-inner 1.5s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1000px) {
  .container {
    margin: auto 2rem;
  }
  .quote-text {
    font-size: 2rem;
  }
  .long-quote {
    font-size: 1.5rem;
  }

  .fa-quote-left {
    font-size: 2.5rem;
  }

  .quote-author {
    font-size: 1rem;
  }
}
